/* the styles for the elements */

*{
	margin: 0;
	padding: 0;
}

html{
	background-color: white;
	background-image: linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white, #f6bb73 80%, #f6bb73 100%);
}

body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	width: 850px;

	margin: 0 auto;

	border: 3px solid #931420;
	background-color: #fffded;
}

/* the styles for the header */
header
{
	border-bottom: 3px solid #931420;
	padding-top: 1.5em;
	padding-bottom: 2em;
	background-image: linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white, #f6bb73 80%, #f6bb73 100%);
}

header img {
	float: left;
	padding: 0 30px;
}

h1
{
	font-size: 150%;
	padding: 0.5em 0 0.25em;
	margin: 0;
}

h2
{
	font-size: 170%;
}

h3
{
	font-size:130%;
	font-style:italic;
}

/* navbar */

ul#nav_menu
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}

#nav_menu > li
{
	float: left;
}

#nav_menu > li a
{
	display:block;
	width: 170px;
	text-align: center;

	padding: 1em 0;

	color:white;
	background-color:#800000;

	font-weight: bold;
	text-decoration: none;
}

#nav_menu .current
{
	color:yellow;
}

#nav_menu ul
{
	list-style-type: none;
}

#nav_menu .submenu
{
	display: none;
	position: absolute;
	float: none;
}

#nav_menu li:hover .submenu
{
	display: block;
}

#nav_menu::after
{

}

/* the styles for the section */
main {
	clear: left;
}

/**/
main h1
{
	font-size: 140%;
	padding: .3em 0;
}
/**/

main h2
{
	font-size: 130%;
	color: #800000;
	padding: .5em 0 .25em 0;
}

main h3
{
	font-size: 105%;
	padding-bottom: 0.25em;
}

main img
{
	margin-bottom: 1em;
}

main p
{
	padding-bottom: 0.5em;
}

main blockquote
{
	padding: 0 2em;
}

main ul
{
	padding-bottom: 0.25em;
	padding-left: 1.25em;
}

main li
{
	padding-bottom: 0.35em;
}

.shadow
{
	text-shadow: 1px 1px 3px #800000;
}

a:hover, a:focus
{
	font-style: italic;
}

section
{
	float: right;
	width: 525px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
}

section h2
{
	color: black;
}

aside
{
	float: left;
	width: 215px;
	padding-right: 20px;
	padding-left: 20px;
}

aside h3
{
	font-size: 105%;
	font-style: normal;
}

article
{
	padding: 0.5em 0;
}

article img
{
	float: right;
	margin: 10px 0 10px 10px;
	border: 1px solid #000000;
}

article h1
{
	padding-top: 0;
	color: #800000;
}

article h2
{
	padding-top: 0;
	color: black;
}

article h3
{
	font-size: 105%;
	padding-bottom: .25em;
	color: black;
}

/* the styles for the footer */
footer
{
	clear:both;
	bottom:0;
}
footer p
{
	text-align: center;
	color:white;
	background-color:#931420;

	padding: 0.5em;
}